@model IEnumerable<Heysundue.Models.Joinlist>

@foreach (var joinlist in Model)
{
    <tr>
        <td>@joinlist.RegNo</td>
        <td>@joinlist.FirstName</td>
        <td>@joinlist.LastName</td>
        <td>@joinlist.ChineseName</td>
        <td>@joinlist.Country</td>
        <td>@joinlist.RegistrationStatus</td>
    </tr>
}
